<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiQXIMMYPrjhuo92AltfR1fNItuRIbk0k</string>
	<key>GCM_SENDER_ID</key>
	<string>870990593985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vanhien.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-13a82</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-13a82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870990593985:ios:5de12c214a258878617940</string>
</dict>
</plist>